<section id="preschools">
  <div class="container">
    <div class="row">
      <hr/>

      <div class="col-md-12 text-center">
        <h2 class="text-muted">2016 Event raised money for the following pre-schools</h2>
      </div>

      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <a href="{{ site.westlake_url }}" target="_blank">
            <img id="westlake-christian-logo" src="{{ site.westlake_logo_url }}" alt="Westlake Christian logo" class="logo"/>
          </a>
          <div class="caption">
            <a href="{{ site.westlake_url }}" target="_blank">
              <h3>Westlake Christian Academy</h3>
            </a>
            <p>Every student a disciple of Christ</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <a href="{{ site.crossways_url }}" target="_blank">
            <img id="crossways-logo" src="{{ site.crossways_logo_url }}" alt="CrossWays Preschool logo" class="logo"/>
          </a>
          <div class="caption">
            <a href="{{ site.crossways_url }}" target="_blank">
              <h3>CrossWays Preschool</h3>
            </a>
            <p> Our goal is to provide a positive preschool experience to enable young children to become capable, confident learners in preparation for kindergarten.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <a href="{{ site.four_kids_url }}" target="_blank">
            <img id="four-kids-logo" src="{{ site.four_kids_logo_url }}" alt="4-Kids ChildCare Learning Center logo" class="logo"/>
          </a>
          <div class="caption">
            <a href="{{ site.four_kids_url }}" target="_blank">
              <h3>4-Kids ChildCare Learning Center</h3>
            </a>
            <p>4-Kids children grow and develop physically, emotionally, intellectually and socially in a warm, supportive environment.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <a href="{{ site.tt_url }}" target="_blank">
            <img id="tiny-treasures-logo" src="{{ site.tt_logo_url }}" alt="Tiny Treasures Preschool logo" class="logo"/>
          </a>
          <div class="caption">
            <a href="{{ site.tt_url }}" target="_blank">
              <h3>Tiny Treasures Preschool</h3>
            </a>
            <p>Emphasizing an individual approach to every child and fostering all areas of their development.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

