<section id="thank-you">
  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <h2 class="text-muted text-center">Thank you from our Grayslake preschools</h2>
        <p class="lead">
        From our 4 Grayslake and surrounding district preschools that received grants in 2016: <strong>Westlake Christian Academy</strong>, <strong>CrossWays Preschool</strong>, <strong>4Kids ChildCare Learnding Center</strong>, and <strong>Tiny Treasures Preschool</strong>, we want to thank you for coming out to support our children and their education. Thank you to our sponsors, volunteers, family and friends for making this premier such a big success. Thanks again for your support. See you next year!
        </p>
      </div>

    </div>
  </div>
</section>


