#home-masthead.jumbotron {
  background-image: url('/assets/images/2014_race/100_2633.jpg');
  background-size: cover;
  background-position: 0 -330px;
  #jumbotron-copy {
    background-color: whitesmoke;
    opacity: 0.85;
  }
}

#sponsor-masthead.jumbotron {
  background-color: lightblue;
}
#about-masthead.jumbotron {
  background-color: lightblue;
}

section {
  margin-bottom: 20px;
}

#main-logo {
  margin-top: 35px;
}

#preschools {
  h2 { margin-bottom: 40px; }
  img.logo {
    max-height: 170px;
  }
  .thumbnail {
    min-height: 350px;
  }
  img#peppermint-stick-logo {
    margin: 40px 0 39px;
  }
}

#sponsors {
  h2 { margin-bottom: 40px; }
  background-color: #f5f5f5;

  div.caption {
    min-height: 148px;
  }

  #rjgalla_grad_sponsor img {
    margin: 94px 0;
  }
}

#race-route-directions {
  li { border-bottom: 1px solid #e3e3e3;  padding: 10px 0; }
  li:last-child { border-bottom: none; }
  li > span:first-child { margin-left: 24px; }
  li > span { margin-left: 6px; }
}
