#home-masthead.jumbotron {
  background-image: url('/assets/images/2014_race/100_2633.JPG');
  background-size: cover;
  background-position: 0 -330px;
  #jumbotron-copy {
    background-color: whitesmoke;
    opacity: 0.85;
  }
}

#registration-masthead.jumbotron {
  background-image: url('/assets/images/2015_race_route.png');
  background-size: cover;
  background-position: 0 -330px;
  #jumbotron-copy {
    background-color: whitesmoke;
    opacity: 0.85;
  }
}

#sponsor-masthead.jumbotron {
  background-color: lightblue;
}

#grant-masthead.jumbotron {
  background-color: lightblue;
}

#about-masthead.jumbotron {
  background-image: url('/assets/images/2015_race_route.png');
  background-size: cover;
  background-position: 17px -366px;
  #jumbotron-copy {
    background-color: whitesmoke;
    opacity: 0.85;
  }
}

#previous-races-masthead.jumbotron {
  background-image: url('/assets/images/2015_race_route.png');
  background-size: cover;
  background-position: 17px -366px;
  #jumbotron-copy {
    background-color: whitesmoke;
    opacity: 0.85;
  }
}

section {
  margin-bottom: 20px;
}

#main-logo {
  margin-top: 35px;
}

#donations {
  .panel-body {
    min-height: 180px;
  }
}

#preschools, #trade-preschools {
  h2 { margin-bottom: 40px; }
  img.logo {
    max-height: 170px;
  }
  .thumbnail {
    min-height: 350px;
  }
  img#peppermint-stick-logo {
    margin: 24px 0;
  }

  img#four-kids-logo {
    margin: 50px 0;
  }
}

#trade-preschools {
  h3 { font-size: 20px; }
}

.sponsors {
  h2 { margin-bottom: 40px; }
  background-color: #f5f5f5;

  div.caption {
    min-height: 148px;
  }

  #rjgalla_grad_sponsor img {
    margin: 94px 0;
  }
}

#race-route-directions {
  li { border-bottom: 1px solid #e3e3e3;  padding: 10px 0; }
  li:last-child { border-bottom: none; }
  li > span:first-child { margin-left: 24px; }
  li > span { margin-left: 6px; }
}

#race-day-photo-carousel .item img {
  display: block;
  width: 100%;
  height: auto;
}

#couch-to-5k-promo {
  background-color: #f9ecf2;
  dt {
    text-align: left;
  }
}
