/* Sticky footer styles
 * -------------------------------------------------- */
html {
  position: relative;
  min-height: 100%; }

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  padding-top: 50px;
  padding-bottom: 20px; }

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5; }

/* Custom page CSS
 * -------------------------------------------------- */
/* Not required for template or sticky footer method. */
body > .container {
  padding: 60px 15px 0; }

.container .text-muted {
  margin: 20px 0; }

footer > .container {
  padding-right: 15px;
  padding-left: 15px; }

.jumbotron {
  /*margin-bottom: 0px;*/
  /*background-image: url(../assets/images/logo.jpg);*/
  /*background-position: 0% 25%;*/
  /*background-size: cover;*/
  /*background-repeat: no-repeat;*/
  /*color: white;*/
  /*text-shadow: black 0.3em 0.3em 0.3em;*/ }

section {
  margin-bottom: 20px; }

#preschools h1 {
  margin-bottom: 40px; }
#preschools img.logo {
  max-height: 170px; }
#preschools .thumbnail {
  min-height: 374px; }
