/* Sticky footer styles
 * -------------------------------------------------- */
html {
  position: relative;
  min-height: 100%; }

body {
  /* Margin bottom by footer height */
  margin-bottom: 337px;
  padding-top: 50px;
  padding-bottom: 20px; }

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 337px;
  background-color: #f5f5f5; }

/* Custom page CSS
 * -------------------------------------------------- */
/* Not required for template or sticky footer method. */
body > .container {
  padding: 60px 15px 0; }

.container .text-muted {
  margin: 20px 0; }

footer > .container {
  padding-right: 15px;
  padding-left: 15px; }

#home-masthead.jumbotron {
  /*background-color: #ff4d4d;*/
  background-color: lightblue; }

#sponsor-masthead.jumbotron {
  /*background-color: #f58a3d;*/
  background-color: lightblue; }

#about-masthead.jumbotron {
  /*background-color: #00c75a;*/
  background-color: lightblue; }

section {
  margin-bottom: 20px; }

#main-logo {
  margin-top: 35px; }

#preschools h2 {
  margin-bottom: 40px; }
#preschools img.logo {
  max-height: 170px; }
#preschools .thumbnail {
  min-height: 350px; }
#preschools img#peppermint-stick-logo {
  margin: 40px 0 39px; }

#sponsors {
  background-color: #f5f5f5; }
  #sponsors h2 {
    margin-bottom: 40px; }
  #sponsors div.caption {
    min-height: 148px; }
  #sponsors #rjgalla_grad_sponsor img {
    margin: 94px 0; }

#race-route-directions li {
  border-bottom: 1px solid #e3e3e3;
  padding: 10px 0; }
#race-route-directions li:last-child {
  border-bottom: none; }
#race-route-directions li > span:first-child {
  margin-left: 24px; }
#race-route-directions li > span {
  margin-left: 6px; }

#sponsor-sidebar {
  background-color: #f5f5f5; }

.btn {
  margin-top: 5px;
  margin-bottom: 5px; }

form#brace-io-contact-form {
  margin-bottom: 1em; }

a.navbar-brand {
  padding: 6px 15px 0; }
