---
layout: default
title: About
description: About Run for Learning
canonical_url: http://www.runforlearning.com/about.html
sitemap:
  priority: 0.7
  changefreq: weekly
  lastmod: 2015-07-08T22:42:35-05:00
WCA_preamble: Our mission is to provide for Christian families a Christ-centered education that disciples our students to honor Jesus Christ in thought, word, and deed.
WCA_main_text: In our Preschool program, we believe that young children learn best through play and hands-on learning experiences which take place in a safe and caring environment.  It is our goal to help each child grow and develop intellectually, physically, spiritually, socially, and emotionally.  We provide a variety of developmentally appropriate learning activities each day including free play, circle time, center activities, and indoor/outdoor large muscle play.
TT_main_text: Tiny Treasures Preschool emphasizes an individual approach to every child, with respect for all as children of God, within an atmosphere of acceptance and grace. While Tiny Treasures makes its home in Wildwood Presbyterian Church, the preschool welcomes all children, of any faith or none.Tiny Treasures Preschool allows each child to develop in an enriched environment, with activities that encourage age-appropriate learning; mentally, physically, socially, spiritually and emotionally. Our loving staff provides a warm and enthusiastic environment, who recognize the importance of setting the proper example as role models of the Christian life. We invite you to come visit us so we may get to know you and your child.
---

<div id="about-masthead" class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div id="main-logo" class="thumbnail">
          {{ site.logo_image }}
        </div>
      </div>
      <div id="jumbotron-copy" class="col-md-7 col-md-offset-1">
        <h1>About Run for Learning 5K</h1>
        <p>{{ site.name }} is a fundraiser to benefit two Grayslake area pre-schools &mdash; Westlake Christian Academy and Tiny Treasures Preschool.</p>
        <p>
          <a name="fb_share" type="button" class="btn btn-primary btn-lg" href="http://www.facebook.com/sharer.php?u={{site.url}}{{page.url}}&media={{site.url}}/assets/images/run_for_learning_logo_2015.png&description={{page.description}}" class="joinFB"><i class="fa fa-facebook-square fa-lg"></i> Share</a>
        </p>
      </div>
    </div>
  </div>
</div>

<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <p class="lead text-center">Run for Learning benefits the following Grayslake area preschools</p>
        <hr>
        {% include about_westlake.html %}
        <hr>
        {% include about_tiny_treasures.html %}
      </div>
    </div>
  </div>
</section>
