---
layout: default
title: 3rd Annual Run for Learning 5K Run/Walk and Kids Fun Run
description: Run for Learning is a professionally timed 5K walk/run that benefits two Grayslake, IL preschools.
canonical_url: http://www.runforlearning.com/
sitemap:
  priority: 0.7
  changefreq: weekly
  lastmod: 2016-04-15T02:30:35-05:00
---

<div id="home-masthead" class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div id="main-logo" class="thumbnail">
          {{ site.logo_image }}
        </div>
      </div>
      <div id="jumbotron-copy" class="col-md-7 col-md-offset-1">
        <h1>{{site.short_name}}</h1>
        {% include pre_race_jumbo.html %}
      </div>
    </div>
  </div>
</div>

{% include event_details.html %}

{% include awards.html %}

{% include mission.html %}

{% include donations.html %}
