---
layout: default
title: 3rd Annual Run for Learning 5K Run/Walk and Kids Fun Run
description: Run for Learning is a professionally timed 5K walk/run that benefits two Grayslake, IL preschools.
canonical_url: http://www.runforlearning.com/
sitemap:
  priority: 0.7
  changefreq: weekly
  lastmod: 2015-07-08T22:42:35-05:00
---

<div id="home-masthead" class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div id="main-logo" class="thumbnail">
          {{ site.logo_image }}
        </div>
      </div>
      <div id="jumbotron-copy" class="col-md-7 col-md-offset-1">
        <h1>{{site.short_name}}</h1>
        <p>The {{site.running}} {{site.name}} will take place <strong>{{ site.event_date }}</strong> at <strong>{{ site.event_location }}</strong></p>
        <p>Registration for the event will be open soon!</p>
        <p>
          <a name="fb_share" type="button" class="btn btn-primary btn-lg" href="http://www.facebook.com/sharer.php?u={{site.url}}{{page.url}}&media={{site.url}}/assets/images/run_for_learning_logo_2015.png&description={{page.description}}" class="joinFB"><i class="fa fa-facebook-square fa-lg"></i> Share</a>
        </p>
      </div>
    </div>
  </div>
</div>

{% include donations.html %}

{% include event_details.html %}

{% include awards.html %}

{% include mission.html %}

