---
layout: default
title: Inaugural Run for Learning 5K Run/Walk and Kids Fun Run
description: Run for Learning is a a professionally timed 5K walk/run that benefits four Grayslake, IL schools.
---

<div id="home-masthead" class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div id="main-logo" class="thumbnail">
          <img src="assets/images/logo.jpg" alt="Run for Learning logo"/>
        </div>
      </div>
      <div class="col-md-7 col-md-offset-1">
        <h1>{{site.short_name}}</h1>
        <p>The inaugural {{site.name}} will take place <strong>September 20th, 2014</strong> at <strong>Downtown Grayslake</strong></p>
        <p>Sign up today to avail of <strong>early registration pricing</strong> while also helping four local Grayslake pre-schools!</p>
        <p>
          {{site.registration_link}}
          {{site.sponsor_link}} 
          <a name="fb_share" type="button" class="btn btn-primary btn-lg" href="http://www.facebook.com/sharer.php?u={{site.url}}{{page.url}}&media={{site.url}}/assets/images/logo.jpg&description={{page.description}}" class="joinFB"><i class="fa fa-facebook-square fa-lg"></i> Share</a>
        </p>
      </div>
    </div>
  </div>
</div>

{% include event_details.html %}

{% include preschools.html %}

{% include sponsors.html %}
