---
layout: default
title: Previous Races
description: Details on previous Run for Learning races
canonical_url: http://www.runforlearning.com/previous_races.html
sitemap:
  priority: 0.7
  changefreq: weekly
  lastmod: 2014-06-09T22:42:19-05:00
---

<div id="sponsor-masthead" class="jumbotron">
  <div class="container">
    <div class="row">
    </div>
  </div>
</div>

<section id="become-a-sponsor">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        {% include congratulations.html %}

        {% include race_day_photos.html %}

        {% include event_details.html %}
      </div>
      <div id="sponsor-sidebar" class="col-md-4 clearfix">
        {% include sponsor_sidebar.html %}
      </div>
    </div>
  </div>
</section>

