---
layout: default
title: Become a Sponsor
description: Become a sponsor today and help raise money for two local Grayslake, IL preschools.
canonical_url: http://www.runforlearning.com/sponsor.html
sitemap:
  priority: 0.7
  changefreq: weekly
  lastmod: 2015-07-08T22:42:35-05:00
---

<div id="sponsor-masthead" class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div id="main-logo" class="thumbnail">
          {{ site.logo_image }}
        </div>
      </div>
      <div id="jumbotron-copy" class="col-md-7 col-md-offset-1">
        <h1>Become a Sponsor</h1>
        <p>We cordially invite you to participate as a sponsor for the 2nd Annual {{ site.name }}.</p>
        <p>
          <span class="visible-xs">
            <a href="{{ site.sponsorship_form_url }}" alt="Run for Learning 5k sponsorship form" class="btn btn-success btn-lg" role="button" target="_blank"><i class="fa fa-download fa-lg"></i> Sponsorship form</a>
          </span>
          <span class="hidden-xs">
            <a href="{{ site.sponsorship_form_url }}" alt="Run for Learning 5k sponsorship form" class="btn btn-success btn-lg" role="button" target="_blank">Download our sponsorship form</a>
          </span>
          <a name="fb_share" type="button" class="btn btn-primary btn-lg" href="http://www.facebook.com/sharer.php?u={{site.url}}{{page.url}}&media={{site.url}}/assets/images/run_for_learning_logo_2015.png&description={{page.description}}" class="joinFB"><i class="fa fa-facebook-square fa-lg"></i> Share</a>
        </p>
      </div>
    </div>
  </div>
</div>

<section id="become-a-sponsor">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <p class="lead">This event will raise money for two local Grayslake preschools.</p>
        <p>Your sponsorship helps to defray from the cost of organizing the event along with providing a great opportunity to highlight your company name to thousands of people.  Please consider sponsoring this great event and help our children start off on the right path to a great education in our own community.<p>

        {% include become_a_sponsor.html %}

        {% include types_of_sponsorship.html %}

        <div class="well">
          If you have any questions feel free to email <a href="mailto:{{ site.contact_email }}">{{ site.contact_email }}</a> or call <abbr title="Phone">P:</abbr> {{ site.contact_phone }}.
        </div>
      </div>
      <div id="sponsor-sidebar" class="col-md-4 clearfix">
        {% include sponsor_sidebar.html %}
      </div>
    </div>
  </div>
</section>
