---
layout: default
title: Volunteer for upcoming Run for Learning 5K walk/run
description: Volunteer for upcoming Run for Learning 5K walk/run
canonical_url: http://www.runforlearning.com/volunteer.html
sitemap:
  priority: 0.7
  changefreq: weekly
  lastmod: 2015-10-25T14:00:00-05:00
---

<div id="home-masthead" class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div id="main-logo" class="thumbnail">
          {{ site.logo_image }}
        </div>
      </div>
      <div id="jumbotron-copy" class="col-md-7 col-md-offset-1">
        <h1>Volunteer</h1>
        <p>{{site.name}} event.</p>
        <p>Volunteer for a great community event that benefits our pre-schoolers</p>
      </div>
    </div>
  </div>
</div>

{% include volunteer_details.html %}

{% include sponsors.html %}
