<div class="media">
  <a class="pull-right" href="{{ site.gloryland_url }}" target="_blank">
    <img class="media-object" src="{{ site.gloryland_logo_url }}" alt="Gloryland Preschool logo">
  </a>
  <div class="media-body">
    <h4 class="media-heading">
      <a href="{{ site.gloryland_url }}" target="_blank">
        Gloryland Preschool
      </a>
    </h4>
    <p>We are a state licensed preschool facility dedicated to sharing the love of Jesus with children and families that come into contact with us.</p>
    <p>Our culturally diverse student body enjoys the academic challenges presented to them through our curriculum based program. We recognize that positive interactions and development during the preschool years are a foundation to future educational successes. We also believe spiritual needs are an element of this development. As a Christian preschool we want our children to know that they are special and loved by Jesus. This message is conveyed daily by the teaching of prayers, music, and songs at group and snack time; Bible stories in circle time as well as chapel talks with Pastor Brian.</p>
  </div>
</div>

