<div class="media hidden-xs">
  <a class="pull-left" href="{{ site.gcns_url }}" target="_blank">
    <img class="media-object" src="{{ site.gcns_logo_url }}" alt="Grayslake Cooperative Nursery School logo">
  </a>
  <div class="media-body">
    <h4 class="media-heading">
      <a href="{{ site.gcns_url }}" target="_blank">
        Grayslake Cooperative Nursery School
      </a>
    </h4>
    <p>{{ page.GCNS_main_text }}</p>
  </div>
</div>

<div class="visible-xs">
  <div class="thumbnail">
    <a href="{{ site.gcns_url }}" target="_blank">
      <img id="gcns-logo" class="logo" src="{{ site.gcns_logo_url }}" alt="Grayslake Cooperative Nursery School logo">
    </a>
    <div class="caption">
      <a href="{{ site.gcns_url }}" target="_blank">
        <h4>Grayslake&nbsp;Cooperative Nursery&nbsp;School</h4>
      </a>
      <p>{{ page.GCNS_main_text }}</p>
    </div>
  </div>
</div>
