<div class="media">
  <a class="pull-left" href="{{ site.westlake_url }}" target="_blank">
    <img class="media-object" src="{{ site.westlake_logo_url }}" alt="Westlake Christian Academy logo">
  </a>
  <div class="media-body">
    <h4 class="media-heading">
      <a href="{{ site.westlake_url }}" target="_blank">
        Westlake Christian Academy
      </a>
    </h4>
    <p>Our mission is to provide for Christian families a Christ-centered education that disciples our students to honor Jesus Christ in thought, word, and deed.</p>
    <p>In our Preschool program, we believe that young children learn best through play and hands-on learning experiences which take place in a safe and caring environment.  It is our goal to help each child grow and develop intellectually, physically, spiritually, socially, and emotionally.  We provide a variety of developmentally appropriate learning activities each day including free play, circle time, center activities, and indoor/outdoor large muscle play.</p>
  </div>
</div>

