<div class="media hidden-xs">
  <a class="pull-right" href="{{ site.marys_peppermint_url }}" target="_blank">
    <img class="media-object" src="{{ site.marys_peppermint_logo_url }}" alt="Tiny Treasures Preschool logo" width="338px">
  </a>
  <div class="media-body">
    <h4 class="media-heading">
      <a href="{{ site.marys_peppermint_url }}" target="_blank">
        Mary&apos;s Peppermint Stick Pre-School
      </a>
    </h4>
    <p>{{ page.Marys_peppermint_main_text }}</p>
  </div>
</div>

<div class="visible-xs">
  <div class="thumbnail">
    <a href="{{ site.marys_peppermint_url }}" target="_blank">
      <img id="marys_peppermint-logo" class="logo" src="{{ site.marys_peppermint_logo_url }}" alt="Tiny Treasures Preschool logo">
    </a>
    <div class="caption">
      <a href="{{ site.marys_peppermint_url }}" target="_blank">
        <h4>Mary&apos;s Peppermint Stick Pre-School</h4>
      </a>
      <p>{{ page.Marys_peppermint_main_text }}</p>
    </div>
  </div>
</div>




