<div class="media hidden-xs">
  <a class="pull-left" href="{{ site.peppermint_url }}" target="_blank">
    <img class="media-object" src="{{ site.peppermint_logo_url }}" alt="Tiny Treasures Preschool logo">
  </a>
  <div class="media-body">
    <h4 class="media-heading">
      <a href="{{ site.peppermint_url }}" target="_blank">
        Peppermint Stick Children&apos;s Center
      </a>
    </h4>
    <p>{{ page.Peppermint_main_text }}</p>
  </div>
</div>

<div class="visible-xs">
  <div class="thumbnail">
    <a href="{{ site.peppermint_url }}" target="_blank">
      <img id="peppermint-logo" class="logo" src="{{ site.peppermint_logo_url }}" alt="Tiny Treasures Preschool logo">
    </a>
    <div class="caption">
      <a href="{{ site.peppermint_url }}" target="_blank">
        <h4>Peppermint Stick Children&apos;s Center</h4>
      </a>
      <p>{{ page.Peppermint_main_text }}</p>
    </div>
  </div>
</div>


