<div class="media hidden-xs">
  <a class="pull-left" href="{{ site.tt_url }}" target="_blank">
    <img class="media-object" src="{{ site.tt_logo_url }}" alt="Tiny Treasures Preschool logo">
  </a>
  <div class="media-body">
    <h4 class="media-heading">
      <a href="{{ site.tt_url }}" target="_blank">
        Tiny Treasures Preschool
      </a>
    </h4>
    <p>{{ page.TT_main_text }}</p>
  </div>
</div>

<div class="visible-xs">
  <div class="thumbnail">
    <a href="{{ site.tt_url }}" target="_blank">
      <img id="tt-logo" class="logo" src="{{ site.tt_logo_url }}" alt="Tiny Treasures Preschool logo">
    </a>
    <div class="caption">
      <a href="{{ site.tt_url }}" target="_blank">
        <h4>Tiny&nbsp;Treasures&nbsp;Preschool</h4>
      </a>
      <p>{{ page.TT_main_text }}</p>
    </div>
  </div>
</div>

