<div class="media hidden-xs">
  <a class="pull-right" href="{{ site.gloryland_url }}" target="_blank">
    <img class="media-object" src="{{ site.gloryland_logo_url }}" alt="Gloryland Preschool logo">
  </a>
  <div class="media-body">
    <h4 class="media-heading">
      <a href="{{ site.gloryland_url }}" target="_blank">
        Gloryland Preschool
      </a>
    </h4>
    <p>{{ page.GLORYLAND_preamble }}</p>
    <p>{{ page.GLORYLAND_main_text }}</p>
  </div>
</div>

<div class="visible-xs">
  <div class="thumbnail">
    <a href="{{ site.gloryland_url }}" target="_blank">
      <img id="gloryland-logo" src="{{ site.gloryland_logo_url }}" alt="Gloryland Preschool logo" class="logo"/>
    </a>
    <div class="caption">
      <a href="{{ site.gloryland_url }}" target="_blank">
        <h4>Gloryland Preschool</h4>
      </a>
      <p>{{ page.GLORYLAND_preamble }}</p>
      <p>{{ page.GLORYLAND_main_text }}</p>
    </div>
  </div>
</div>
