<div class="media">
  <a class="pull-right" href="{{ site.peppermint_url }}" target="_blank">
    <img class="media-object" src="{{ site.peppermint_logo_url }}" alt="Peppermint Stick Children's Center logo">
  </a>
  <div class="media-body">
    <h4 class="media-heading">
      <a href="{{ site.peppermint_url }}" target="_blank">
        Peppermint Stick Children's Center
      </a>
    </h4>
    <p>Peppermint Stick continues to provide high quality education and care for young children</p>
  </div>
</div>


