<div class="media hidden-xs">
  <a class="pull-left" href="{{ site.pediatric_interactions_url }}" target="_blank">
    <img class="media-object" src="{{ site.pediatric_interactions_logo_url }}" width="300px" alt="Pediatric Interactions logo">
  </a>
  <div class="media-body">
    <h4 class="media-heading">
      <a href="{{ site.pediatric_interactions_url }}" target="_blank">
        Pediatric Interactions
      </a>
    </h4>
    <p>{{ page.PI_main_text }}</p>
  </div>
</div>

<div class="visible-xs">
  <div class="thumbnail">
    <a href="{{ site.pediatric_interactions_url }}" target="_blank">
      <img id="pediatric_interactions-logo" class="logo" src="{{ site.pediatric_interactions_logo_url }}" alt="Pediatric Interactions logo">
    </a>
    <div class="caption">
      <a href="{{ site.pediatric_interactions_url }}" target="_blank">
        <h4>Pediatric&nbsp;Interactions</h4>
      </a>
      <p>{{ page.pediatric_interactions_main_text }}</p>
    </div>
  </div>
</div>

