<div class="media">
  <a class="pull-left" href="{{ site.gcns_url }}" target="_blank">
    <img class="media-object" src="{{ site.gcns_logo_url }}" alt="Grayslake Cooperative Nursery School logo">
  </a>
  <div class="media-body">
    <h4 class="media-heading">
      <a href="{{ site.gcns_url }}" target="_blank">
        Grayslake Cooperative Nursery School
      </a>
    </h4>
    <p>
      Grayslake Cooperative Nursery School strives to be a quality preschool with a focus on socialization and a positive start to the school experience.  It is with commitment and dedication from  parents and teachers that children develop academically, emotionally, socially and physically in a nurturing, family focused, bright environment.  With parental involvement, it is truly a unique experience and one that will start your child on the right path to a wonderful, educational experience.
    </p>
  </div>
</div>
