<div class="media hidden-xs">
  <a class="pull-right" href="{{ site.peppermint_url }}" target="_blank">
    <img class="media-object" src="{{ site.peppermint_logo_url }}" alt="Peppermint Stick Children's Center logo">
  </a>
  <div class="media-body">
    <h4 class="media-heading">
      <a href="{{ site.peppermint_url }}" target="_blank">
        Peppermint Stick Children's Center
      </a>
    </h4>
    <p>{{ page.PEPPERMINT_preamble }}</p>
  </div>
</div>

<div class="visible-xs">
  <div class="thumbnail">
    <a href="{{ site.peppermint_url }}" target="_blank">
      <img id="peppermint-stick-logo" src="{{ site.peppermint_logo_url }}" alt="Peppermint Stick Children's Center logo" class="logo"/>
    </a>
    <div class="caption">
      <a href="{{ site.peppermint_url }}" target="_blank">
        <h4>Peppermint Stick Children's Center</h4>
      </a>
      <p>{{ page.PEPPERMINT_preamble }}</p>
    </div>
  </div>
</div>
