<div class="media hidden-xs">
  <a class="pull-right" href="{{ site.four_kids_url }}" target="_blank">
    <img class="media-object" src="{{ site.four_kids_logo_url }}" alt="Tiny Treasures Preschool logo" width="338px">
  </a>
  <div class="media-body">
    <h4 class="media-heading">
      <a href="{{ site.four_kids_url }}" target="_blank">
        4-Kids ChildCare Learning Center
      </a>
    </h4>
    <p>{{ page.Four_kids_main_text }}</p>
  </div>
</div>

<div class="visible-xs">
  <div class="thumbnail">
    <a href="{{ site.four_kids_url }}" target="_blank">
      <img id="four_kids-logo" class="logo" src="{{ site.four_kids_logo_url }}" alt="Tiny Treasures Preschool logo">
    </a>
    <div class="caption">
      <a href="{{ site.four_kids_url }}" target="_blank">
        <h4>4-Kids ChildCare Learning Center</h4>
      </a>
      <p>{{ page.Four_kids_main_text }}</p>
    </div>
  </div>
</div>



