<div class="media hidden-xs">
  <a class="pull-left" href="{{ site.westlake_url }}" target="_blank">
    <img class="media-object" src="{{ site.westlake_logo_url }}" alt="Westlake Christian Academy logo">
  </a>
  <div class="media-body">
    <h4 class="media-heading">
      <a href="{{ site.westlake_url }}" target="_blank">
        Westlake Christian Academy
      </a>
    </h4>
    <p>{{ page.WCA_preable }}</p>
    <p>{{ page.WCA_main_text }}</p>
  </div>
</div>

<div class="visible-xs">
  <div class="thumbnail">
    <a href="{{ site.westlake_url }}" target="_blank">
      <img id="westlake-christian-logo" src="{{ site.westlake_logo_url }}" alt="Westlake Christian logo" class="logo"/>
    </a>
    <div class="caption">
      <a href="{{ site.westlake_url }}" target="_blank">
        <h4>Westlake Christian Academy</h4>
      </a>
      <p>{{ page.WCA_preable }}</p>
      <p>{{ page.WCA_main_text }}</p>
    </div>
  </div>
</div>
