<section id="awards">
  <div class="container">
    <div class="row">
      <hr/>

      <div class="col-md-12">
        <h2 class="text-muted text-center">Award categories</h2>
        <p class="lead">There will be an award for 1<sup>st</sup> overall male and female as well as awards for multiple age groups. Listed below are all the different categories that will be given awards.</p>
      </div>

      <div class="col-sm-6 col-md-4 text-center">
        <ul class="list-unstyled">
          <li>1<sup>st</sup> Overall Male</li>
          <li>1<sup>st</sup> Overall Female</li>
          <li>10 &amp; under</li>
          <li>11-14</li>
          <li>15-19</li>
        </ul>
      </div>

      <div class="col-sm-6 col-md-4 text-center">
        <ul class="list-unstyled">
          <li>20-24</li>
          <li>25-29</li>
          <li>30-34</li>
          <li>35-39</li>
          <li>40-44</li>
        </ul>
      </div>

      <div class="col-sm-6 col-md-4 text-center">
        <ul class="list-unstyled">
          <li>45-49</li>
          <li>50-54</li>
          <li>55-59</li>
          <li>60-64</li>
          <li>65 &amp; over</li>
        </ul>
      </div>

    </div>
  </div>
</section>

