<h2>Follow these easy steps to become a sponsor</h2>
<ol>
  <li>Download and fill out the <a href="{{ site.sponsorship_form_url }}" alt="{{ site.org_name }} 5K sponsorship form" target="_blank"><i class="fa fa-file-pdf-o"></i> sponsorship form</a></li>
  <li>Return the form with a check made out to "Run for Learning" by <strong>{{site.sponsor_form_return_date_long}}</strong>.</li>
  <li>Send to:
  <address>
    <strong>Run For Learning</strong><br/>
    P.O. Box 7491<br/>
    Grayslake, IL 60030
  </address>
  </li>
</ol>
<span class="visible-xs">
  <a href="{{ site.sponsorship_form_url }}" alt="{{ site.org_name }} 5K sponsorship form" class="btn btn-success btn-lg btn-block" role="button" target="_blank"><i class="fa fa-file-pdf-o"></i> Become a sponsor today!</a>
</span>
<span class="hidden-xs">
  <a href="{{ site.sponsorship_form_url }}" alt="{{ site.org_name }} 5K sponsorship form" class="btn btn-success btn-lg" role="button" target="_blank"><i class="fa fa-file-pdf-o"></i> Download</a> our sponsorship form now and become a sponsor today!</a>
</span>
