<h2>Follow these easy steps to become a sponsor</h2>
<ol>
  <li>Download and fill out the <a href="{{ site.sponsorship_form_url }}" alt="Run for Learning 5k Sponsorship form" target="_blank">sponsorship form</a></li>
  <li>Return the form with a check made out to "Run for Learning" by <strong>Friday August 15th, 2014</strong>.</li>
  <li>Send to:
  <address>
    <strong>Tami Candy</strong><br/>
    411 Arlington Lane<br/>
    Grayslake, IL 60030
  </address>
  </li>
</ol>
<a href="{{ site.sponsorship_form_url }}" alt="Run for Learning 5k Sponsorship form" class="btn btn-success btn-lg btn-block" target="_blank">Download our sponsorship form now and become a sponsor today!</a>
