<h3>Follow these easy steps to become a sponsor</h3>
<ol>
  <li>Download and fill out the <a href="assets/files/rfl_5k_sponsorship_form.pdf" alt="Run for Learning 5k Sponsorship form" target="_blank">sponsorship form</a>.</li>
  <li>Return the form with a check made out to "Run for Learning" by <strong>Friday August 15th, 2014</strong>.</li>
  <li>Send to:
  <address>
    <strong>Tami Candy</strong><br/>
    411 Arlington Lane<br/>
    Grayslake, IL 60030
  </address>
  </li>
</ol>

<div class="well">
  If you have any questions feel free to email <a href"mailto:runforlearning@gmail.com">runforlearning@gmail.com</a> or call <abbr title="Phone">P:</abbr> (224) 419-4023.
</div>
