<section id="meet-the-board">
  <div class="container">
    <div class="row">
      <hr/>

      <div class="col-md-3 text-center">
        <h2 class="text-muted">Meet the Board</h2>
      </div>

      <div class="col-md-8">
        <div class="col-md-12">
          <h3>Tami Candy <small>Board Member.</small></h3>
          <hr/>
          <dl class="dl-horizontal">
            <dt>Favorite child book:</dt><dd><a href="https://www.amazon.com/Giving-Tree-Shel-Silverstein-ebook/dp/B00DB2QZPI/ref=sr_1_1?s=books&ie=UTF8&qid=1469768420&sr=1-1&keywords=the+giving+tree#navbar" alt="The Giving Tree amazon.com link" target="_blank">The Giving Tree</a> by Shel Silverstein</dd>
            <dt>Favorite Food:</dt><dd>PF Changs</dd>
            <dt>Favorite place to visit:</dt><dd>Nebraska to see family but anywhere by the beach is a big plus for me. The ocean and sand are my favorite.</dd>
            <dt>How did you get involved:</dt><dd>Over three years ago with what started as a fundraiser for a local preschool that my son attended at the time has changed into a life's mission for me to make a difference in the lives of young children and get them started on the right foot in life. I truly enjoy working with these amazing talented women. We are a fabulous team that has made The Run for Learning 5K/Kids Fun Run such a success!</dd>
          </dl>
        </div>

        <div class="col-md-12">
          <h3>Rachel Flood <small>Board Member and Mother of two fun loving boys.</small></h3>
          <hr/>
          <dl class="dl-horizontal">
            <dt>Favorite child book:</dt><dd>Favorite Book I enjoy reading with the boys &mdash; <a href="https://www.amazon.com/Tickle-Monster-Josie-Bissett/dp/1932319670/ref=sr_1_2?s=books&ie=UTF8&qid=1469768535&sr=1-2&keywords=the+tickle+monster" alt="Tickle Monster amazon.com link" target="_blank">Tickle Monster</a> by <cite>Josie Bissett</cite></dd>
            <dt>Favorite Food:</dt><dd>Spaghetti</dd>
            <dt>Favorite place to visit:</dt><dd>Enjoy traveling and watching our boys see/learn new things for the first time.</dd>
            <dt>How did you get involved:</dt><dd>Saw an opportunity to help area preschools come together to and promote their schools while raising money so that they could continue nurturing the next generation of students.</dd>
          </dl>
        </div>

        <div class="col-md-12">
          <h3>Holly Ness <small>Board Member.</small></h3>
          <hr/>
          <dl class="dl-horizontal">
            <dt>Favorite child book:</dt><dd><a href="https://www.amazon.com/Where-Wild-Things-Maurice-Sendak/dp/0060254920/ref=sr_1_1?s=books&ie=UTF8&qid=1469767974&sr=1-1&keywords=where+the+wild+things+are" alt="Where the wild things are amazon.com link" target="_blank">Where the Wild Things Are</a> by <cite>Maurice Sendak</cite></dd>
            <dt>Favorite Food:</dt><dd>Spaghetti</dd>
            <dt>Favorite place to visit:</dt><dd>Madison, WI</dd>
            <dt>How did you get involved:</dt><dd>I believe that early education measures are important and I love to run.  It combined two things that are important to me.</dd>
          </dl>
        </div>

        <div class="col-md-12">
          <h3>Kelly Rusk <small>Board Member.</small></h3>
          <hr/>
          <dl class="dl-horizontal">
            <dt>Favorite child book:</dt><dd><a href="https://www.amazon.com/Llama-Red-Pajama-Anna-Dewdney-ebook/dp/B007P6HO7Y/ref=sr_1_1?s=books&ie=UTF8&qid=1469768304&sr=1-1&keywords=llama+llama+red+pajama#navbar" alt="Llama Llama Red Pyjama amazon.com link" target="_blank">Llama Llama Red Pajama</a> by Anna Dewdeny</dd>
            <dt>Favorite Food:</dt><dd>Pizza</dd>
            <dt>Favorite place to visit:</dt><dd>Portland, Oregon although my kids would probably say Target and Marianos!</dd>
            <dt>How did you get involved:</dt><dd>I saw an article in my son's preschool newsletter that they were starting a 5K race as a way to raise money for the school.  Since I loved the school and wanted to get more involved with it, I signed up.  I had no idea what I was getting myself into!  The work was really hard that first year.  The race was a success and at the end of the day it felt so good to be involved with such a great group of people that came together for the love of our children and our different preschools.</dd>
          </dl>
        </div>

      </div>


    </div>
  </div>
</section>

