<section id="couch-to-5k-promo">
  <div class="container">
    <div class="row">
      <hr/>

      <div class="col-md-12 text-center">
        <h2 class="text-muted">Haven't Run in a while?</h2>
        <p class="lead">
          Has it been a while since you laced up your trainers? Feel a bit daunted at the thought of running a 5k?
        </p>
        <p>Well don't worry &mdash; the experts at Apex fitness are running a boot camp that will get you from your couch to our 5k in 9 weeks. {{ site.couch_to_5k_link }} for more details.
      </div>

    </div>
  </div>
</section>


