<section id="couch-to-5k-promo">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="text-muted">Apex Fitness Couch to 5K</h2>
        <p class="lead">
          Has it been a while since you laced up your trainers? Feel a bit daunted at the thought of running a 5K?
        </p>
      </div>
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6">
            <p>
              Well don't worry &mdash; Apex fitness are offering a couch to 5K program,
              through Grayslake Park District (GLPD), that will prepare you to run the {{ site.running }} {{ site.org_name }} 5K.
            </p>
            <p>
              A USA Track &amp; Field certified couch and personal trainer will work with
              you to accomplish your goal of running either your first 5K or your best 5K.
            </p>
            <p>
              To register for the program visit the Grayslake Park District Recreation Center at 240 Commerce Drive,
              Grayslake, IL. Alternatively download the {{ site.couch_to_5k_link }} and read about registration options on page 67.
              <br/><br/>
            </p>
          </div>
          <div class="col-md-6">
            <dl class="dl-horizontal">
              <dt>Age:</dt>
              <dd>18 years and up</dd>
              <dt>Location:</dt>
              <dd>Apex Fitness, 132 Allen Ave. Suite C - Grayslake</dd>
              <dt>Fee:</dt>
              <dd>$75 per person</dd>
              <dt>Min / Max:</dt>
              <dd>5 / 30</dd>
              <dt>Register by:</dt>
              <dd>8th August</dd>
            </dl>
            <table class="table">
              <thead>
                <tr>
                  <th>Code</th><th>Date</th><th>Time</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>670022</td><td>Saturday, Aug. 13 - Sept. 17</td><td>10:00 - 11:00am</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>


