<section id="congratulations">
  <div class="container">
    <div class="row">
      <hr/>
      <div class="col-md-12">
        <h2 class="text-muted text-center">Race Results Now Available!</h2>
        <p class="lead">Congratulations to all our participants for taking part and making the {{ site.running}} running of this event such a huge success.</p>
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th class="text-center">Event</th>
              <th class="text-center">Results Link</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>5K Run/Walk</td>
              <td class="text-center">{{site.race_results_5k_2016}}</td>
            </tr>
            <tr>
              <td>1K Run/Walk</td>
              <td class="text-center">{{site.race_results_1k_2016}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
