<section id="congratulations">
  <div class="container">
    <div class="row">
      <hr/>

      <div class="col-md-12">
        <h2 class="text-muted text-center">Congratulations to all our participants!</h2>
        <p class="lead">Thanks for making the event a huge success. Following are results for each race: {{site.race_results_5k_2014}} and {{site.race_results_1k_2014}}.</p>
      </div>

    </div>
  </div>
  <div class="container">
    <div class="row">
      <hr/>
    </div>
  </div>
</section>
