<div class="container">
  <div class="row">
    <hr>
    <div class="col-md-3 col-md-offset-1">
      <h3 class="text-muted">Contact Us</h3>
      <address>
        <strong>Tami Candy</strong><br/>
        411 Arlington Lane<br/>
        Grayslake, IL 60030<br/>
        <br/>
        <abbr title="Phone"><span class="fa fa-phone fa-fw"></span>:</abbr> (224) 419-4023<br/>
        <span class="fa fa-envelope fa-fw"></span>: <a href="mailto:runforlearning@gmail.com">runforlearning@gmail.com</a><br/>
        <span class="fa fa-facebook-square fa-fw"></span>: <a href="https://www.facebook.com/runforlearning5k" alt="Run For Learning 5K Facebook Page" target="_blank">Run For Learning 5K Facebook page</a>
      </address>
    </div>
    <div class="col-md-3">
      <form action="//forms.brace.io/runforlearning@gmail.com" method="post" role="form">
        <div class="form-group">
          <input type="email" name="_replyto" class="form-control" placeholder="Enter email address">
        </div>
        <div class="form-group">
          <textarea name="body" rows="5" class="form-control" placeholder="Enter message"></textarea>
        </div>
        <button type="submit" class="btn btn-default">Send Message</button>
      </form>
    </div>
    <div class="col-md-3">
      <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Frunforlearning5k&amp;width&amp;height=220&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=false&amp;show_border=true&amp;appId=10238107203" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:290px;" allowTransparency="true"></iframe>
    </div>
  </div>
</div>

