<section id="donations">
  <div class="container">
    <div class="row">
      <hr/>
      <div class="col-md-12">
        <h2 class="text-muted text-center">Want to help out with next years race?</h2>
        <p class="lead"> Unsurprisingly, a lot of effort and money is required to put on an event as succesful as this one. There are several ways you can help to ensure next years event is even better.</p>
        <div class="row">
          <div class="col-md-6">
            <h3 class="text-center">Donate</h3>
            <p>We are accepting donations that will help to make this event even more successful next year. If you wish to donate please a send a check made out to:<br/>
              <address>
                <strong>Run For Learning</strong><br/>
                P.O. Box 7491<br/>
                Grayslake, IL 60030
              </address>
            </p>
          </div>
          <div class="col-md-6">
            <h3 class="text-center">Volunteer</h3>
            <p>We are always looking for enthusiastic people that enjoy making there community a better place to live. Visit our volunteer page to find out how to sign up.</p>
            <p class="text-center"><a href="/volunteer.html" class="btn btn-lg btn-success">Become a Volunteer</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
