<section id="event-details">
  <div class="container">
    <div class="row">
      <hr/>
      <div class="col-md-6">
        {% include pre_registration_details.html %}
      </div>
      <div class="col-md-6">
        <iframe class="hidden-xs" src="https://mapsengine.google.com/map/embed?mid=zadehKG6ZvwE.kA0dCaMZ-jCA" width="555" height="450"></iframe>
        <iframe class="visible-xs" src="https://mapsengine.google.com/map/embed?mid=zadehKG6ZvwE.kA0dCaMZ-jCA" width="300" height="250"></iframe>
        <div id="race-route-directions" class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <a data-toggle="collapse" data-parent="#race-route-directions" href="#collapse-directions">
                2015 Run for Learning 5K Run/Walk Directions <small>click for turn by turn</small>
              </a>
            </h3>
          </div>
          <div id="collapse-directions" class="panel-collapse collapse">
            <div class="panel-body">
              <ul class="list-unstyled">
                <li><span class="label label-success"><i class="fa fa-map-marker"></i> Start</span> Center Street near Veterans Memorial</li>
                <li><span>Head <b>west</b> on <b>Center St</b> toward <b>S Whitney St</b></span></li>
                <li><i class="fa fa-long-arrow-right"></i> <span>Turn <b>right</b> onto <b>N Slusser St</b></span></li>
                <li><span><b>N Slusser St</b> turns slightly <b>left</b> and becomes <b>Hickory St</b></span></li>
                <li><i class="fa fa-long-arrow-right"></i> <span>Turn <b>right</b> onto <b>N Lake St</b></span></li>
                <li><i class="fa fa-long-arrow-left"></i> <span>Turn <b>left</b> onto <b>Hillside Ave</b></span></li>
                <li><span>Slight <b>left</b> at <b>2nd St</b></span></li>
                <li><i class="fa fa-long-arrow-left"></i> <span>Turn <b>left</b> onto <b>N Alleghany Rd</b></span></li>
                <li><i class="fa fa-long-arrow-right"></i> <span>Turn <b>right</b> onto <b>Mitchell Dr</b></span></li>
                <li><i class="fa fa-long-arrow-left"></i> <span><b>Mitchell Dr</b> turns <b>left</b> and becomes <b>W Trail</b></span></li>
                <li><i class="fa fa-long-arrow-left"></i> <span>Turn <b>left</b> onto <b>Harvey Ave</b></span></li>
                <li><span>Continue onto <b>Pine St</b></span></li>
                <li><i class="fa fa-long-arrow-right"></i> <span>Turn <b>right</b> onto <b>N Slusser St</b></span></li>
                <li><i class="fa fa-long-arrow-left"></i> <span>Turn <b>left</b> onto <b>Park Ave</b></span></li>
                <li><i class="fa fa-long-arrow-left"></i> <span>Turn <b>left</b> onto <b>Seymour Ave</b></span></li>
                <li><i class="fa fa-long-arrow-left"></i> <span>Turn <b>left</b> onto <b>Center St</b></span></li>
                <li><span class="label label-danger"><i class="fa fa-map-marker"></i> Finish</span> Center Street</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
