<section id="event-details">
  <div class="container">
    <div class="row">
      <hr/>
      <div class="col-md-6">
        {% include pre_race_details.html %}
      </div>
      <div class="col-md-6">
        <iframe class="hidden-xs" src="https://www.google.com/maps/d/embed?mid=1TAqNX39ZjOp0RPglWrjVccgeBm8" width="555" height="450"></iframe>
        <iframe class="visible-xs" src="https://www.google.com/maps/d/embed?mid=1TAqNX39ZjOp0RPglWrjVccgeBm8" width="300" height="250"></iframe>
        <div id="race-route-directions" class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <a data-toggle="collapse" data-parent="#race-route-directions" href="#collapse-directions">
                {{ site.event_year }} {{ site.name }} Directions >
              </a>
            </h3>
          </div>
          <div id="collapse-directions" class="panel-collapse collapse">
            <div class="panel-body">
              <ul class="list-unstyled">
                <li><span class="label label-success"><i class="fa fa-map-marker"></i> Start</span> North side of <b>Center Street &amp; Whitney Street</b> intersection</li>
                <li><span>Head <b>south</b> on <b>S Whitney St</b> toward <b>Park Ave</b></span></li>
                <li><i class="fa fa-long-arrow-left"></i> <span>Turn <b>left</b> onto <b>Park Ave</b></span></li>
                <li><i class="fa fa-long-arrow-right"></i> <span>Turn <b>right</b> onto <b>Seymour Ave</b></span></li>
                <li><i class="fa fa-long-arrow-right"></i> <span>Turn <b>right</b> onto <b>Jr Ave</b></span></li>
                <li><i class="fa fa-long-arrow-right"></i> <span>Turn <b>right</b> onto <b>S Slusser St</b></span></li>
                <li><i class="fa fa-long-arrow-left"></i> <span>Turn <b>left</b> onto <b>Pine St</b></span></li>
                <li><span>continue onto <b>Harvey Ave</b></span></li>
                <li><i class="fa fa-long-arrow-right"></i> <span>Turn <b>right</b> onto <b>W Trail</b></span></li>
                <li><span><b>W Trail</b> turns <b>right</b> and becomes <b>Mitchell Dr</b></span></li>
                <li><span><b>Mitchell Dr</b> turns <b>right</b> and becomes <b>Behm Dr</b></span></li>
                <li><i class="fa fa-long-arrow-left"></i> <span>Turn <b>left</b> onto <b>School St</b></span></li>
                <li><span>Continue onto <b>Allen Ave</b></span></li>
                <li><i class="fa fa-long-arrow-right"></i> <span>Turn <b>right</b> onto <b>N Slusser St</b></span></li>
                <li><i class="fa fa-long-arrow-left"></i> <span>Turn <b>left</b> onto <b>Center St</b></span></li>
                <li><span class="label label-danger"><i class="fa fa-map-marker"></i> Finish</span> <b>Center Street</b></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
