<section id="opportunities">
  <div class="container">
    <div class="row">
      <hr/>
      <div class="col-md-12">
        <h2 class="text-muted text-center">Event Proceeds</h2>
        <p class="lead">
          Since our first race in 2014, the focus of the Run For Learning 5K has expanded to become a race that raises funds for licensed, early-education centers (providing preschool and/or kindergarten programs). Proceeds from this annual event will go to teachers at licensed early-education centers in Grayslake, IL and the surrounding area communities through a grant process.
          Funding awards will be evaluated on a competitive basis considering need and benefits
          to youth development. Awardees will be notified by the Run For Learning Board of Directors
          thirty (30) days post race and awards will be handed out at an award ceremony in late October.
        </p>

      </div>
    </div>
  </div>
</section>

<section id="how-to-apply-for-a-grant">
  <div class="container">
    <div class="row">
      <hr/>

      <div class="col-md-12">
        <h2 class="text-muted text-center">How to apply for a grant</h2>
        <p class="lead">Follow the easy steps below to apply for a grant!</p>
        <ul>
          <li>Download and fill out a <a href="{{ site.grant_form_url }}" alt="{{ site.org_name }} 5K grant form" target="_blank"><i class="fa fa-file-pdf-o"></i> grant form</a>.</li>
          <li>Either
            <ul>
              <li>Send to:
                <address>
                  <strong>Run for Learning Board of Directors</strong><br/>
                  Run For Learning Grant</br>
                  P.O. Box 7491<br/>
                  Grayslake, IL 60041
                </address>
              </li>
              <li>Scan and email to:<br/>
                <address>
                  <a href="mailto:{{ site.contact_email }}">{{ site.contact_email }}</a>
                </address>
              </li>
            </ul>
          </li>
          <li>
            Grant Applications are due <strong>September 1, {{ site.event_year }}</strong>.
          </li>
        </ul>
        <p>
        <strong>Note:</strong>
        </p>
        <p>To be eligible to receive grant funding your class must be at a privately held licensed early
          education center that does not regularly receive governmental funding serving preschool and
          kindergarten aged children (ages 3 – 6) and be located within Grayslake, IL or one of the
          surrounding communities.
        </p>
        <p>Award preference is given to grants requesting specific program funding.
        <p>General operating requests, such as staff salary, tuition assistance and operating expenses, will not be considered.</p>
      </div>
    </div>
  </div>
</section>


{% include previous_beneficiaries.html %}
