<div class="panel-group" id="grant-faq-accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#grant-faq-accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          What communities are eligible for grant submissions?
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <p>
          All early childhood centers that border Grayslake are eligible for grant submission. These communities include:<br/><br/>
          Grayslake, Hainesville, Round Lake,<br/> Round Lake Beach, Mundelein, Liberyville,<br/> Third Lake, Wildwood, Round Lake Park,<br/> Gages Lake, Venetian Village
        </p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#grant-faq-accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          What constitutes educational materials and/or equipment?
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        Anything that is used in the classroom by the students or used to enrich the educational experience of a child, such as funding for supplies or field trips, would be eligible.  Funding for salaries, administrative costs, tuition scholarships, facility repairs, and/or infrastructure improvements are not eligible.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#grant-faq-accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          How do I submit a Run For Learning grant?
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        <p>Completed grants and questions regarding your proposal can be submitted via email or mail to:
          <address>
            <strong>Run For Learning Board of Directors</strong><br/>
            Run For Learning Grant<br/>
            P. O.  Box 7491<br/>
            Grayslake, IL 60041<br/>
            <a href="mailto:{{ site.contact_email }}">{{ site.contact_email }}</a>
          </address>
        </p>

        <p>Grant applications are due <strong>September 1, 2016</strong></p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#grant-faq-accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          How is eligibility determined for a Run For Learning Grant?
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="panel-body">
        To be eligible to receive grant funding your class must be at a privately held licensed early education center that does not regularly receive governmental funding serving preschool and kindergarten aged children (ages 3 – 6) and be located within Grayslake, IL or one of the surrounding communities.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFive">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#grant-faq-accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          Our classroom has two teachers, are we both eligible for grant submissions?
        </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
      <div class="panel-body">
        Yes, each teacher in an eligible early educational center may apply for a grant.
      </div>
    </div>
  </div>
</div>
