<section id="mission-statement">
  <div class="container">
    <div class="row">
      <hr/>

      <div class="col-md-12 text-center">
        <h2 class="text-muted">Mission Statement</h2>
        <p class="lead">
          The Run For Learning 5K is an annual five kilometer race that began in 2014 as a way to raise awareness of and funds for Grayslake, IL preschools. This event is intended to provide a competitive race for athletes of all abilities as well as a family friendly atmosphere of community. Since the first race, the focus of the Run For Learning 5K has expanded to become a race that raises funds for licensed, early-education centers (providing preschool and/or kindergarten programs). Proceeds from this annual event will go to teachers at licensed early-education centers in Grayslake, IL and the surrounding area communities through a grant process.
        </p>
      </div>

    </div>
  </div>
</section>

