<p>Thanks to all our participants for coming out for the {{site.running}} {{site.name}} event.</p>
<h4>Congratulations to all and see you again next year!</h4>
<p>
  {{site.race_results_5k_2017}}
  {{site.race_results_1k_2017}}
  <a name="fb_share" type="button" class="btn btn-primary btn-lg" href="http://www.facebook.com/sharer.php?u={{site.url}}{{page.url}}&media={{site.url}}/assets/images/run_for_learning_logo_2015.png&description={{page.description}}" class="joinFB"><i class="fa fa-facebook-square fa-lg"></i> Share</a>
</p>

