<p>The {{site.running}} {{site.name}} will take place <strong>{{ site.event_date }}</strong> at <strong>{{ site.event_location }}</strong></p>
<p><strong>Registration</strong> is now open!</p>
<p>
  {{site.registration_link}}
  {{site.sponsor_link}}
  <a name="fb_share" type="button" class="btn btn-primary btn-lg" href="http://www.facebook.com/sharer.php?u={{site.url}}{{page.url}}&media={{site.url}}/assets/images/run_for_learning_logo_2015.png&description={{page.description}}" class="joinFB"><i class="fa fa-facebook-square fa-lg"></i> Share</a>
</p>
