<p class="lead">Hello Runners!</p>
<p>The Run For Learning 5K Run / Walk is only a couple days away.</p>
<p>Here is some helpful information for the race.</p>
<h5>Packet Pickup:</h5>
<ul>
  <li>Friday, September 19th  from 12:00 pm – 1:00 pm and from 5:00 pm – 7:00 pm at Westlake Christian Academy (275 South Lake St, Grayslake)</li>
  <li>Saturday, September 20th beginning at 7:00 am at the corner of Whitney & Center in Downtown Grayslake</li>
</ul>
<h5>Race Day:</h5>
<ul>
  <li>The event will occur rain or shine.  Lightening or inclement weather with risks could lead to a cancellation.</li>
  <li>Onsite Registration will be open at 7am</li>
  <li>The 5K will commence at 8:30</li>
  <li>The 1K will commence at 9:30 or after the last 5K participant crosses the finish line</li>
  <li>Kids Dash will being after the end of the 1k</li>
</ul>
<p>See you on Saturday!</p>
<p>Run For Learning</p>
