<section id="preschools">
  <div class="container">
    <div class="row">
      <hr/>

      <div class="col-md-12 text-center">
        <h2 class="text-muted">Event will benefit the following pre-schools</h2>
      </div>

      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <a href="http://www.grayslake-coop.com/" target="_blank">
            <img id="gcns-logo" src="assets/images/gcns_logo.jpg" alt="Grayslake Cooperative Nursery School logo" class="logo"/>
          </a>
          <div class="caption">
            <a href="http://www.grayslake-coop.com/" target="_blank">
              <h3>Grayslake&nbsp;Coop Nursery&nbsp;School</h3>
            </a>
            <p>Your bright, friendly, family-focused preschool since 1976</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <a href="http://www.glorylandpreschool.com/" target="_blank">
            <img id="gloryland-logo" src="assets/images/gloryland_logo.jpg" alt="Gloryland Preschool logo" class="logo"/>
          </a>
          <div class="caption">
            <a href="http://www.glorylandpreschool.com/" target="_blank">
              <h3>Gloryland Preschool<br/>&nbsp;</h3>
            </a>
            <p>A Ministry of Lord of Glory Lutheran Church</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <a href="http://westlakechristian.org/" target="_blank">
            <img id="westlake-christian-logo" src="assets/images/westlakechristian_logo.jpg" alt="Westlake Christian logo" class="logo"/>
          </a>
          <div class="caption">
            <a href="http://westlakechristian.org/" target="_blank">
              <h3>Westlake Christian Academy</h3>
            </a>
            <p>Every student a disciple of Christ</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <a href="http://peppermintstickcc.com/" target="_blank">
            <img id="peppermint-stick-logo" src="assets/images/peppermint_stick_logo.jpg" alt="Peppermint Stick Children's Center logo" class="logo"/>
          </a>
          <div class="caption">
            <a href="http://peppermintstickcc.com/" target="_blank">
              <h3>Peppermint Stick Childcare Center</h3>
            </a>
            <p>Peppermint Stick continues to provide high quality education and care for young children</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
