<section id="preschools">
  <div class="container">
    <div class="row">
      <hr/>

      <div class="col-md-12 text-center">
        <h2 class="text-muted">Event will benefit the following pre-schools</h2>
      </div>

      <div class="col-sm-6 col-md-3 col-md-offset-1">
        <div class="thumbnail">
          <a href="{{ site.gcns_url }}" target="_blank">
            <img id="gcns-logo" class="logo" src="{{ site.gcns_logo_url }}" alt="Grayslake Cooperative Nursery School logo">
          </a>
          <div class="caption">
            <a href="{{ site.gcns_url }}" target="_blank">
              <h3>Grayslake&nbsp;Coop Nursery&nbsp;School</h3>
            </a>
            <p>Your bright, friendly, family-focused preschool since 1976</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <a href="{{ site.westlake_url }}" target="_blank">
            <img id="westlake-christian-logo" src="{{ site.westlake_logo_url }}" alt="Westlake Christian logo" class="logo"/>
          </a>
          <div class="caption">
            <a href="{{ site.westlake_url }}" target="_blank">
              <h3>Westlake Christian Academy</h3>
            </a>
            <p>Every student a disciple of Christ</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <a href="{{ site.pediatric_interactions_url }}" target="_blank">
            <img id="pediatric-interactions-logo" src="{{ site.pediatric_interactions_logo_url }}" alt="Pediatric Interactions logo" class="logo"/>
          </a>
          <div class="caption">
            <a href="{{ site.pediatric_interactions_url }}" target="_blank">
              <h3>Pediatric Interactions</h3>
            </a>
            <p>Helping children better communicate</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
