<div class="col-md-12 text-center">
  <hr/>
  <h2 class="text-muted">A big thank you to our previous sponsors</h2>
</div>

<div class="col-sm-6 col-md-4">
  {% include therabill.html %}
</div>

<div class="col-sm-6 col-md-4">
  {% include rjgalla.html %}
</div>

<div class="col-sm-6 col-md-4">
  {% include rjg.html %}
</div>
<div class="col-md-12">
  <hr>
  <ul class="list-inline text-center">
    <li><a href="http://pediatricinteractions.com/" alt="Pediatric Interactions" target="_blank">Pediatric Interactions</a></li>
    <li><a href="http://www.sr-orthodontics.com/" alt="Drs. Sellke &amp; Reily, Ltd." target="_blank">Drs. Sellke &amp; Reily, Ltd.</a></li>
    <li><a href="http://www.allkidsdentalcenter.com/" alt="All Kids Dental &amp; Orthodontics" target="_blank">All Kids Dental &amp; Orthodontics</a></li>
    <li><a href="http://www.busybrains.org/index.htm" alt="Busy Brains Children&apos;s Museum" target="_blank">Busy Brains Children&apos;s Museum</a></li>
  </ul>
  <hr>
</div>

