<div id="rjgalla_grad_sponsor" class="thumbnail">
  <a href="http://www.rjgallacompany.com/" target="_blank">
    <img src="assets/images/rjgalla_logo.jpg" alt="RJ Galla Company Inc. Logo"/>
  </a>
  <div class="caption">
    <p>
      <a href="http://www.rjgallacompany.com" target="_blank">R. J. Galla Company Inc.</a>
      has been helping customers in northern Illinois and the rest of the nation with their insurance needs for over 35 years.  They are an Independent Agency.  That means that they are not tied to one company.  They work for you.
    </p>
  </div>
</div>


