<h3 class="text-muted text-center">Grad School Level Sponsors</h3>
<div>
  {% include therabill.html %}
</div>
<div>
  {% include rjgalla.html %}
</div>
<div>
  {% include rjg.html %}
</div>
<hr>
<h4 class="text-muted text-center">High School Level Sponsors</h4>
<p class="text-center">
  <a href="http://pediatricinteractions.com/" alt="Pediatric Interactions" target="_blank">Pediatric Interactions</a>
</p>
<p class="text-center">
  <a href="http://www.crazy4carts.com/" alt="Crazy 4 Carts" target="_blank">Crazy 4 Carts</a>
</p>
<p class="text-center">{{site.sponsor_link}}</p>
<hr>
