<section id="sponsors">
  <div class="container">
    <div class="row">

      <div class="col-md-12 text-center">
        <h2 class="text-muted">A Big Thank You to our Grad School Level Sponsors</h2>
      </div>

      <div class="col-sm-6 col-md-4">
        {% include therabill.html %}
      </div>

      <div class="col-sm-6 col-md-4">
        {% include rjgalla.html %}
      </div>

      <div class="col-sm-6 col-md-4">
        {% include rjg.html %}
      </div>

    </div>
  </div>
</section>

