<section id="sponsors">
  <div class="container">
    <div class="row">
      <hr/>

      <div class="col-md-12 text-center">
        <h2 class="text-muted">A Big Thank You to our Grad School Level Sponsors</h2>
      </div>

      <div class="col-sm-6 col-md-4">
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <a href="http://therabill.com" target="_blank">
            <img src="assets/images/therabill_logo.jpg" alt="Therabill Logo"/>
          </a>
          <div class="caption">
            <h3>Therabill</h3>
            <p>Therabill is a simple to use, cloud based,  therapy practice management software suite that includes electronic insurance billing, scheduling and EMR.</p>
            <p><a href="http://therabill.com" class="btn btn-default" role="button" target="_blank">Website</a> </p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
      </div>

    </div>
  </div>
</section>

