<section id="sponsors">
  <div class="container">
    <div class="row">
      <hr/>

      <div class="col-md-12 text-center">
        <h2 class="text-muted">A Big Thank You to our Grad School Level Sponsors</h2>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img data-src="holder.js/300x200" alt="...">
          <div class="caption">
            <h3>Acme Construction&trade;</h3>
            <p>We are glad to have Acme Construction as a gold sponsor. They have proven time and again their commitment to our community. Etc.</p>
            <p><a href="#" class="btn btn-default" role="button">Website</a> </p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img data-src="holder.js/300x200" alt="...">
          <div class="caption">
            <h3>Acme Demolition&trade;</h3>
            <p>We are glad to have Acme Construction as a gold sponsor. They have proven time and again their commitment to our community. Etc.</p>
            <p><a href="#" class="btn btn-default" role="button">Website</a> </p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img data-src="holder.js/300x200" alt="...">
          <div class="caption">
            <h3>Acme Refurbishing&trade;</h3>
            <p>We are glad to have Acme Construction as a gold sponsor. They have proven time and again their commitment to our community. Etc.</p>
            <p><a href="#" class="btn btn-default" role="button">Website</a> </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

