<h3 class="text-muted text-center">Grad School Level Sponsors</h3>
<div>
  {% include therabill.html %}
</div>
<div>
  {% include rjgalla.html %}
</div>
<hr>
<h4 class="text-muted text-center">High School Level Sponsors</h4>
<p class="text-center">
  <a href="http://www.greenkidsresale-il.com/" alt="Green Kids Resale" target="_blank">Green Kids Resale</a>
</p>
<p class="text-center">
  <a href="http://www.visioncaregrayslake.com/" alt="Vision Care Associates Grayslake" target="_blank">Vision Care Assoicates</a>
</p>
<p class="text-center">
  <a href="http://www.brianbudil.com/" alt="Brian Bundil Insurance Agency Inc." target="_blank">Brian Bundil Insurance Agency Inc.</a>
</p>
<p class="text-center">
  <a href="http://www.kumon.com/centerepage/home.aspx?p1=bdc4e5b9-ea20-440d-a92d-8f07ebf3c28f&p2=1&p3=grayslake-towncenter" alt="Kumon Math and Reading Center of Grayslake Town Center" target="_blank">Kumon of Grayslake &ndash; Town Center</a>
</p>
<p class="text-center">
  Fast Chicago
</p>
<hr>
