<h3 class="text-muted text-center">Grad School Level Sponsors</h3>
<div>
  <div class="thumbnail">
    <a href="http://therabill.com" target="_blank">
      <img src="assets/images/therabill_logo.jpg" alt="Therabill Logo"/>
    </a>
    <div class="caption">
      <p>
        <a href="http://therabill.com" target="_blank">Therabill</a>
        is a simple to use, cloud based,  therapy practice management software suite that includes electronic insurance billing, scheduling and EMR.
      </p>
    </div>
  </div>
</div>
