<section id="types-of-sponsorship" class="row">
  <hr>
  <div class="col-md-12 text-center">
    <h2 class="text-muted">Types of sponsorship available</h2>
  </div>
  <div class="col-md-4">
    <div class="list-group">
      <div class="list-group-item list-group-item-info">
        <h5 class="list-group-item-heading">Grad School Level Sponsorship $1000</h5>
      </div>
      <p class="list-group-item">Listed as top sponsors on 5K Facebook page</p>
      <p class="list-group-item">Prominent display of logos on all race t-shirts</p>
      <p class="list-group-item">Promotional materials in race packets</p>
      <p class="list-group-item"> Special PA announcement mentioning sponsor name during and after the race</p>
      <p class="list-group-item">Logo on thank you sign at end of the race</p>
      <p class="list-group-item">Logos on mile markers (miles 1, 2 or 3)</p>
    </div>
  </div>

  <div class="col-md-4">
    <div class="list-group">
      <div class="list-group-item list-group-item-info">
        <h5 class="list-group-item-heading">High School Level Sponsorship $500</h5>
      </div>
      <p class="list-group-item">Listed as sponsor on school website</p>
      <p class="list-group-item">Company name on back of race t-shirt</p>
      <p class="list-group-item">Promotional materials in race packet</p>
      <p class="list-group-item">Company name on thank you sign at the end of the race</p>
    </div>
  </div>

  <div class="col-md-4">
    <div class="list-group">
      <div class="list-group-item list-group-item-info">
        <h5 class="list-group-item-heading">Elementary School Level Sponsorship $250</h5>
      </div>
      <p class="list-group-item">Promotional materials in race packet</p>
      <p class="list-group-item">Company name on thank you sign at the end of the race</p>
    </div>
  </div>
</section>
