<section id="types-of-sponsorship" class="row">
  <div class="col-md-12 text-center">
    <hr/>
    <h2 class="text-muted">Types of sponsorship available</h2>
  </div>
  <div class="col-md-3">
    <div class="list-group">
      <div class="list-group-item list-group-item-danger">
        <h5 class="list-group-item-heading">Grad School Level Sponsorship $2000</h5>
      </div>
      <p class="list-group-item">Start and finish line display</p>
      <p class="list-group-item">Prominent display of logos on all race t-shirts</p>
      <p class="list-group-item">Listed as sponsor on {{ site.org_name }} social sites</p>
      <p class="list-group-item">Logo on thank you sign at end of the race</p>
      <p class="list-group-item">Logo on race route</p>
      <p class="list-group-item">Special PA announcement during and after the race</p>
      <p class="list-group-item">Promotional materials in race packets</p>
    </div>
  </div>

  <div class="col-md-3">
    <div class="list-group">
      <div class="list-group-item list-group-item-warning">
        <h5 class="list-group-item-heading">High School Level Sponsorship $1000</h5>
      </div>
      <p class="list-group-item">Display of logo on all race t-shirts</p>
      <p class="list-group-item">Logo on thank you sign at end of the race</p>
      <p class="list-group-item">Logos on race route</p>
      <p class="list-group-item">Listed as sponsor on Run for Learning social sites</p>
      <p class="list-group-item">Promotional materials in race packets</p>
    </div>
  </div>
  <div class="col-md-3">
    <div class="list-group">
      <div class="list-group-item list-group-item-success">
        <h5 class="list-group-item-heading">Elementary School Level Sponsorship $500</h5>
      </div>
      <p class="list-group-item">Company name on back of race t-shirt</p>
      <p class="list-group-item">Company name on thank you sign at end of the race</p>
      <p class="list-group-item">Promotional materials in race packets</p>
    </div>
  </div>

  <div class="col-md-3">
    <div class="list-group">
      <div class="list-group-item list-group-item-info">
        <h5 class="list-group-item-heading">Preschool Level Sponsorship $250</h5>
      </div>
      <p class="list-group-item">Company name on thank you sign at end of the race</p>
      <p class="list-group-item">Promotional materials in race packets</p>
    </div>
  </div>
</section>
