<section id="awards">
  <div class="container">
    <div class="row">
      <hr/>

      <div class="col-md-12">
        <h2 class="text-muted text-center">How to become a volunteer</h2>
        <p class="lead">It is easy to become a volunteer for our event and incredibly rewarding too. See below for three convenient methods to let us know that you want to be a volunteer.</p>
      </div>

      <div class="col-sm-6 col-md-4 text-center">
        <h2><i class="fa fa-laptop"></i> Online <small>(coming soon)</small></h2>
        <p>Soon you will be able to sign up to volunteer for this great event.</p>
      </div>

      <div class="col-sm-6 col-md-4 text-center">
        <h2><i class="fa fa-envelope"></i> E-Mail</h2>
        <p>You can also register by emailing your interest and details to the following address <a href="mailto:{{ site.contact_email }}?subject=I want to become a volunteer">{{ site.contact_email }}</a></p>
      </div>

      <div class="col-sm-6 col-md-4 text-center">
        <h2><i class="fa fa-mobile"></i> Call</h2>
        <p>The final option is to call <a href="tel:{{ site.contact_phone_unformatted }}">{{ site.contact_phone }}</a> and leave your details</p>
      </div>

    </div>
  </div>
</section>


