<section id="opportunities">
  <div class="container">
    <div class="row">
      <hr/>
      <div class="col-md-12">
        <h2 class="text-muted text-center">Volunteer Opportunities</h2>
        <p class="lead">Volunteer opportunities include course marshals, timers, day-of registration assistants, start/finish line assistants, water table and more. These are great for individuals or groups.</p>
        <div class="alert alert-success text-center">
          <p class="text-center">We are interested in people of all ages. <strong>Teenagers</strong> get high school credit when you become a volunteer!</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="how-to-become-a-volunteer">
  <div class="container">
    <div class="row">
      <hr/>

      <div class="col-md-12">
        <h2 class="text-muted text-center">How to become a volunteer</h2>
        <p class="lead">It is easy to become a volunteer for our event and incredibly rewarding too. See below for three convenient methods to let us know that you want to be a volunteer.</p>

        <div class="row">
          <div class="col-sm-6 col-md-4">
            <h2 class="text-center"><i class="fa fa-laptop"></i> Online</h2>
            <p>We're using SignUp.com to organize our volunteer spots.</p>

            <p>Here's how it works in 3 easy steps:</p>
            <ol>
              <li>Click this <a href="http://signup.com/go/i6Mjnh" alt="signup link"><i class="fa fa-link"></i> link</a> to see our SignUp on SignUp.com</li>
              <li>Review the options listed and choose the spot(s) you like.</li>
              <li>Sign up! It's Easy - you will NOT need to register an account or keep a password on SignUp.com.</li>
            </ol>

            <p class="text-center">
              <a href="http://signup.com/go/i6Mjnh" target="_blank"><img src="//www.SignUp.com/imgs/icons/signup-choose-a-spot-btn.png" alt="Click to View Volunteer Opportunities on SignUp.com"></a>
            </p>

            <p>
            <strong>Note:</strong> SignUp.com does not share your email address with anyone. If you prefer not to use your email address, please contact us by email or phone and we can sign you up manually.
            </p>

          </div>

          <div class="col-sm-6 col-md-4 text-center">
            <h2><i class="fa fa-envelope"></i> E-Mail</h2>
            <p>You can also register by emailing your interest and details to the following address <a href="mailto:{{ site.contact_email }}?subject=I want to become a volunteer">{{ site.contact_email }}</a></p>
          </div>

          <div class="col-sm-6 col-md-4 text-center">
            <h2><i class="fa fa-mobile"></i> Call</h2>
            <p>The final option is to call <a href="tel:{{ site.contact_phone_unformatted }}">{{ site.contact_phone }}</a> and leave your details</p>
          </div>
        </div>


    </div>
  </div>
</section>


