---
layout: default
title: 2016 running of Run for Learning 5K Run/Walk and Kids Fun Run.
description: 2016 race details of Run for Learning 5K Run/Walk and Kids Fun Run
canonical_url: http://www.runforlearning.com/2016/previous_races/index.html
sitemap:
  priority: 0.7
  changefreq: weekly
  lastmod: 2017-05-20T02:42:35-05:00
---

<div id="previous-races-masthead" class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div id="main-logo" class="thumbnail">
          {{ site.2016_logo_image }}
        </div>
      </div>
      <div id="jumbotron-copy" class="col-md-7 col-md-offset-1">
        <h1>Previous Races</h1>
        <p>Our 3<sup>rd</sup> {{ site.name }} was held on September 23<sup>rd</sup>, 2016.</p>
        <p>We raised over <strong>$8,000</strong> for four local pre-schools.</p>
        <p>
          <a name="fb_share" type="button" class="btn btn-primary btn-lg" href="http://www.facebook.com/sharer.php?u={{site.url}}{{page.url}}&media={{site.url}}/assets/images/run_for_learning_logo_2016.png&description={{page.description}}" class="joinFB"><i class="fa fa-facebook-square fa-lg"></i> Share</a>
        </p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
    </div>
  </div>
</div>

{% include 2016/thank_you.html %}

{% include 2016/preschools.html %}

<section id="previous-races">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        {% include 2016/congratulations.html %}

        {% include 2016/event_details.html %}
      </div>
      <div id="sponsor-sidebar" class="col-md-4 clearfix">
        {% include 2016/sponsor_sidebar.html %}
      </div>
    </div>
  </div>
</section>


