<section id="preschools">
  <div class="container">
    <div class="row">
      <hr/>

      <div class="col-md-12 text-center">
        <h2 class="text-muted">2015 Event raised over <strong>$8,000</strong> for the following pre-schools</h2>
      </div>

      <div class="col-sm-6 col-md-4 col-md-offset-2">
        <div class="thumbnail">
          <a href="{{ site.westlake_url }}" target="_blank">
            <img id="westlake-christian-logo" src="{{ site.westlake_logo_url }}" alt="Westlake Christian logo" class="logo"/>
          </a>
          <div class="caption">
            <a href="{{ site.westlake_url }}" target="_blank">
              <h3>Westlake Christian Academy</h3>
            </a>
            <p>Every student a disciple of Christ</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <a href="{{ site.tt_url }}" target="_blank">
            <img id="tiny-treasures-logo" src="{{ site.tt_logo_url }}" alt="Tiny Treasures Preschool logo" class="logo"/>
          </a>
          <div class="caption">
            <a href="{{ site.tt_url }}" target="_blank">
              <h3>Tiny Treasures Preschool</h3>
            </a>
            <p>Emphasizing an individual approach to every child and fostering all areas of their development.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
